@model RestaurantService.Models.Pedido

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.IdMensajero, "IdMensajero", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdMensajero", String.Empty)
                @Html.ValidationMessageFor(model => model.IdMensajero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdUsuario, "IdUsuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdUsuario", String.Empty)
                @Html.ValidationMessageFor(model => model.IdUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPedido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaPedido)
                @Html.ValidationMessageFor(model => model.FechaPedido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioTotal)
                @Html.ValidationMessageFor(model => model.PrecioTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Estado" required>
                    <option value=""></option>
                    <option value="Completo">Completo</option>
                    <option value="Incompleto">Incompleto</option>
                    <option value="Enviado">Enviado</option>
                    <option value="No-Enviado">No-Enviado</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
