@model IEnumerable<RestaurantService.Models.Comida>

@{
    ViewBag.Title = "Pagina Principal";
}

@section Scripts
{
    <script src="@Url.Content("~/Content/sliderengine/jquery.js")"></script>
    <script src="@Url.Content("~/Content/sliderengine/amazingslider.js")"></script>
    <script src="@Url.Content("~/Content/sliderengine/initslider-1.js")"></script>
}

<style>
    #inicio {
        box-shadow: inset 0px -4px 0px 0px #6c6a6a;
    }
</style>
<div style="width: 100%; background: #2f2720  url(../Content/imagenes/background.jpg);">
    <div style="margin:auto; margin-top:-1.2%;max-width:900px;">
        <!-- Insert to your webpage where you want to display the slider -->
        <div id="amazingslider-1" style="display:block;position:relative;margin:16px auto 32px;">
            <ul class="amazingslider-slides" style="display:none;">
                <li><img src="~/Content/slider/foto1.jpg" alt="CAMARONES" data-description="Brochetas de camarón sazonados" /></li>
                <li><img src="~/Content/slider/foto3.jpg" alt="PASTAS" data-description="Pasta con brócoli" /></li>
                <li><img src="~/Content/slider/foto11.jpg" alt="VINOS" data-description="Vinos Chapoutier" /></li>
                <li><img src="~/Content/slider/foto7.jpg" alt="PESCADOS" data-description="Filete de mero empanizado" /></li>
                <li><img src="~/Content/slider/foto8.jpg" alt="BROCHETAS" data-description="Brochetas de pollo con salsa teriyaki " /></li>
                <li><img src="~/Content/slider/foto9.jpg" alt="POLLO TERIYAKI" data-description="Pollo a la teriyaki con arroz blanco" /></li>
                <li><img src="~/Content/slider/foto10.jpg" alt="ENSALADAS DE HOJAS" data-description="Ensalada de hojas con salsa cesar" /></li>
                <li><img src="~/Content/slider/foto12.jpg" alt="JUGOS" data-description="Bebida de fresa helada" /></li>
                <li><img src="~/Content/slider/foto13.jpg" alt="POSTRES" data-description="Postre de CheeseCake con fresa" /></li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="~/Content/slider/foto1-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto3-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto11-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto7-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto8-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto9-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto10-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto12-tn.jpg" /></li>
                <li><img src="~/Content/slider/foto13-tn.jpg" /></li>
            </ul>
        </div>
        <!-- End of body section HTML codes -->
    </div>
</div>
<div id="divPlatosDia">
    <div>
        <center>
            <h4>Arrozes</h4>
        </center>
        <center>
            <hr />
            <img src="~/Content/imagenes/arroz.jpg" width ="250" height="150" />
            <hr />
        </center>
       <p class="parrafo"> Conoce el origen desde el momento de la creacion acerca del arroz, una de las comidas mas ingeridas en todo el mundo. Conoce el por qué es tan sabroso y tan tentador el arroz.</p>
        @Html.ActionLink("Leer Más", "PlatoArroz", "Detalle", false, new { @class = "href"})
    </div>
    <div>
        <center>
            <h4>Ensaladas</h4>
        </center>
        <center>
            <hr />
            <img src="~/Content/imagenes/ensalada.jpg" width="250" height="150" />
            <hr />
        </center>
        <p class="parrafo">Una ensalada es principalmente un plato frío con hortalizas mezcladas, cortadas en trozos y aderezadas, fundamentalmente con sal, jugo de limón, aceite de oliva, y vinagre. Puede tomarse como plato único, antes o después del plato principal e incluso como complemento (para picar).</p>
        @Html.ActionLink("Leer Más", "PlatoEnsalada", "Detalle", false, new { @class = "href" })
    </div>
    <div>
        <center>
            <h4>Carnes</h4>
        </center>
        <center>
            <hr />
            <img src="~/Content/imagenes/carne.jpg" width="250" height="150" />
            <hr />
        </center>
        <p class="parrafo">La carne picada o carne molida es una preparación de la carne con objetivos culinarios, para la cual se desmenuzan y se cortan finamente los músculos, grasas y nervios mediante máquina de picar carne, cuchillo (tajadera), etc. Las carnes picadas pueden ser de cerdo, res, cordero o aves. Por regla general han tenido aceptación entre los consumidores ya que al ser carne finamente picada, posee una gran cantidad de superficie y ofrece un sabor más acentuado.</p>
        @Html.ActionLink("Leer Más", "PlatoCarne", "Detalle", false, new { @class = "href" })
    </div>
</div>
<hr />
